$cWhite: white;
$cDblue: #002846;
$cNblue: #7097c3;

table {

  &.ranking {

    th, td {
      color: $cWhite;
      border: none;
      margin: 20px;
      padding: 20px;
      text: wrap;
      font-size: 20px;
    }
  }
}
