$cWhite: white;
$cDblue: #002846;
$cNblue: #7097c3;

.top-introduction {
  padding: 8px;
}

table {

  &.ranking {
    display: flex;
    justify-content: center;

    th, td {
      color: $cWhite;
      border: none;
      padding: 15px;
      text: wrap;
      font-size: 20px;
      
      a {
        color: $cWhite;
        text-decoration:underline;
      }
    }
  }
}

h3 {

  &.ranking {
    padding: 100px 0px 20px;
    text-align: center;
  }
}