<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="top-introduction">
        <p><strong>V-Media</strong> を訪れていただき、ありがとうございます。<br />
        当サイトは、音声メディアに関するレビューサイトです。<br /><br />
        あなたの好きな声を見つけたり、<br>
        お気に入りのコンテンツを共有することができます。<br /><br />
        好きなメディア、ひいては好きな人についての<br />
        あなたの "声" を是非、発信してください。</p>
      </div>
    </div>
  </div>
</div>