<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="top-introduction">
        <p>このページは、管理者トップです。<br /><br />
        各種管理者処理のページには、<br>
        画面上部のリンクからアクセスしてください。
    </div>
  </div>
</div>