// Place all the styles related to the admin/ReviewCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cWhite: white;
$cDblue: #002846;
$cNblue: #7097c3;

table {

  &.categories-index {
    th, td {
      color: $cWhite;
      border: none;
      padding: 8px;
      text: nowrap;
      font-size: 16px;
    }
  }
}

.category-button {
    background-color: $cNblue;
    color: $cWhite;
    border: 1px solid $cWhite;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $cNblue;
        background-color: $cWhite;
        transition: transform 0.3s;
    }
}

.category-delete-button {
    background-color: $cDblue;
    color: $cWhite;
    border: 1px solid $cWhite;
    border-radius: 7px;
    padding: 5px 5px;
    margin: 10px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $cDblue;
        background-color: $cWhite;
        transition: transform 0.5s;
    }
}
