$cWhite: white;
$cDblue: #002846;
$cNblue: #7097c3;

.body {
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.header {
  color: $cWhite;
  padding: 30px;
}

.footer {
  color: $cWhite;
  text-align: center;
  padding: 30px;

  &.container {
    display: inline-block;
  }
}

.main {
  color: $cWhite;
}

table {
  border-collapse: collapse;

  th, td {
    color: $cWhite;
    border: 1px solid $cWhite;
    padding: 10px;

    a {
      color: $cWhite;
      text-decoration:underline;
    }
  }
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.paginate-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.pagination>li>a {
  border: 1px solid $cWhite;
  color: $cWhite;
  background-color: $cNblue;
  margin: 5px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  color: $cNblue;
  background-color: $cWhite;
  transition: transform 0.3s;
}

.link-button {
    background-color: $cNblue;
    color: $cWhite;
    border: 1px solid $cWhite;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 50px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $cNblue;
        background-color: $cWhite;
        transition: transform 0.3s;
    }
}

.submit-button {
    background-color: $cNblue;
    color: $cWhite;
    border: 1px solid $cWhite;
    border-radius: 7px;
    padding: 10px 30px;
    margin: 50px 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $cNblue;
        background-color: $cWhite;
        transition: transform 0.5s;
    }
}

.edit-button {
    background-color: $cNblue;
    color: $cWhite;
    border: 1px solid $cWhite;
    border-radius: 7px;
    padding: 14px 30px;
    margin: 50px 30px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $cNblue;
        background-color: $cWhite;
        transition: transform 0.5s;
    }
}

