<li class="nav-item">
  <%= link_to reviews_path, class:"link-button" do  %>
    <i class="fas fa-search-plus"></i> レビュー検索
  <% end %>
</li>
<li class="nav-item">
  <%= link_to new_contact_path, class:"link-button" do %>
    <i class="fas fa-envelope"></i> お問い合わせ
  <% end %>
</li>
<li class="nav-item">
  <%= link_to new_end_user_registration_path, class:"link-button" do %>
    <i class="fas fa-user-plus"></i> 新規登録
  <% end %>
</li>
<li class="nav-item">
  <%= link_to end_user_session_path, method: :post, class:"link-button" do %>
    <i class="fas fa-sign-in-alt"></i> ログイン
  <% end %>
</li>
